head
	meta(charset="UTF-8")
	meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

	title Glivera Team | Test
	meta(name="description" content="")

	link(rel="canonical" href="/")
	meta(name="robots" content="index, follow")

	link(href="css/app.min.css" rel="stylesheet" type="text/css")

	link(rel="icon" href="img/icons/favicon-32.png" sizes="32x32")
	link(rel="icon" href="img/icons/favicon-192.png" sizes="192x192")
	link(rel="apple-touch-icon" href="img/icons/favicon-180.png")

	meta(property="og:title" content="")
	meta(property="og:description" content="")
	meta(property="og:url" content="/")
	meta(property="og:image" content="")

	link(rel="image_src" href="#")

	meta(name="theme-color" content="#151515")