doctype html
html(lang="ru" prefix="og: https://ogp.me/ns#")
	// Head
	include include/head

	// Body
	body
		main.main
			.container
				.grid-box-msg
					.profile-block
						.profile-block__avatar.profile-block__avatar_online(style="background-image: url(img/avatar.jpg);")
						.profile-block__info
							.profile-block__msg-block
								.profile-block__msg-text Сообщения
								.profile-block__msg-quant 3
							nav.profile-block__menu.profile-block__menu_top
								ul.profile-block__list
									li.profile-block__elem
										a.profile-block__link(href="#") Профиль
									li.profile-block__elem
										a.profile-block__link(href="#") Настройки
							nav.profile-block__menu.profile-block__menu_bottom
								ul.profile-block__list
									li.profile-block__elem
										a.profile-block__link(href="#") Вопросы
									li.profile-block__elem
										a.profile-block__link(href="#") Написать модератору
						a.button.profile-block__button(href="#") Купить подписку
					.messages-block
						.messages-menu
							.messages-menu__box.messages-menu__box_1
								button.messages-menu__button.messages-menu__button_delete Удалить
								button.messages-menu__button.messages-menu__button_add-to-archive Добавить в архив
							.messages-menu__box.messages-menu__box_2
								button.messages-menu__button.messages-menu__button_unread Непрочитанные
								button.messages-menu__button.messages-menu__button_archive Архив
							.messages-menu__box.messages-menu__box_3
								input.messages-menu__search(placeholder="Искать →")
						.messages
							.messages__item
								.messages__box.messages__box_1
									label.messages__check
										input.messages__input(type="checkbox")
										span.messages__custom-input
									.messages__avatar(style="background-image: url(img/msg-avatar.png);")
									a.messages__name(href="#") Александр Антононенков
									.messages__shopping.messages__shopping_bag
								.messages__box.messages__box_2
									.messages__text здравствуйте. как долго придется ждать нож который я заказал вчера?
								.messages__box.messages__box_3
									.messages__date 13/04/2018
									.messages__time 14:02
							.messages__item
								.messages__box.messages__box_1
									label.messages__check
										input.messages__input(type="checkbox")
										span.messages__custom-input
									.messages__avatar.messages__avatar_online(style="background-image: url(img/msg-avatar.png);")
									a.messages__name(href="#") Gun Machine
									.messages__shopping
								.messages__box.messages__box_2
									.messages__text а почему на ноже нет ни одной царапины?
								.messages__box.messages__box_3
									.messages__date 01/12/2018
									.messages__time 00:14
							.messages__item
								.messages__box.messages__box_1
									label.messages__check
										input.messages__input(type="checkbox" checked="checked")
										span.messages__custom-input
									.messages__avatar(style="background-image: url(img/msg-avatar.png);")
									a.messages__name(href="#") Диана Павлова
									.messages__shopping
								.messages__box.messages__box_2
									.messages__text нет, мне не нужно. если и вам тоже пофиг, то выберите рандомный цвет
								.messages__box.messages__box_3
									.messages__date 13/04/2018
									.messages__time 14:02
							.messages__item
								.messages__box.messages__box_1
									label.messages__check
										input.messages__input(type="checkbox")
										span.messages__custom-input
									.messages__avatar.messages__avatar_online(style="background-image: url(img/msg-avatar.png);")
									a.messages__name(href="#") Otto Zweig
									.messages__shopping
								.messages__box.messages__box_2
									.messages__text thank you!&nbsp;&nbsp;that’s great!
								.messages__box.messages__box_3
									.messages__date 01/12/2018
									.messages__time 00:14
							.messages__item
								.messages__box.messages__box_1
									label.messages__check
										input.messages__input(type="checkbox")
										span.messages__custom-input
									.messages__avatar(style="background-image: url(img/msg-avatar.png);")
									a.messages__name(href="#") Александр Антононенков
									.messages__shopping.messages__shopping_bag
								.messages__box.messages__box_2
									.messages__text здравствуйте. как долго придется ждать нож который я заказал вчера?
								.messages__box.messages__box_3
									.messages__date 13/04/2018
									.messages__time 14:02
							.messages__item
								.messages__box.messages__box_1
									label.messages__check
										input.messages__input(type="checkbox")
										span.messages__custom-input
									.messages__avatar.messages__avatar_online(style="background-image: url(img/msg-avatar.png);")
									a.messages__name(href="#") Gun Machine
									.messages__shopping
								.messages__box.messages__box_2
									.messages__text а почему на ноже нет ни одной царапины?
								.messages__box.messages__box_3
									.messages__date 01/12/2018
									.messages__time 00:14
							.messages__item
								.messages__box.messages__box_1
									label.messages__check
										input.messages__input(type="checkbox" checked="checked")
										span.messages__custom-input
									.messages__avatar(style="background-image: url(img/msg-avatar.png);")
									a.messages__name(href="#") Диана Павлова
									.messages__shopping
								.messages__box.messages__box_2
									.messages__text нет, мне не нужно. если и вам тоже пофиг, то выберите рандомный цвет
								.messages__box.messages__box_3
									.messages__date 13/04/2018
									.messages__time 14:02
							.messages__item
								.messages__box.messages__box_1
									label.messages__check
										input.messages__input(type="checkbox")
										span.messages__custom-input
									.messages__avatar.messages__avatar_online(style="background-image: url(img/msg-avatar.png);")
									a.messages__name(href="#") Otto Zweig
									.messages__shopping
								.messages__box.messages__box_2
									.messages__text thank you!&nbsp;&nbsp;that’s great!
								.messages__box.messages__box_3
									.messages__date 01/12/2018
									.messages__time 00:14
						nav.pagination
							ul.pagination__list
								li.pagination__elem
									a.pagination__link(href="#") 1
								li.pagination__elem
									a.pagination__link.pagination__link_active(href="#") 2
								li.pagination__elem
									a.pagination__link(href="#") 3
								li.pagination__elem
									a.pagination__link(href="#") 4
								li.pagination__elem
									a.pagination__link(href="#") 5
								li.pagination__elem
									a.pagination__link(href="#") 6
								li.pagination__elem
									a.pagination__link(href="#") 7
								li.pagination__elem
									a.pagination__link(href="#") 8
								li.pagination__elem
									a.pagination__link(href="#") 9
								li.pagination__elem
									a.pagination__link(href="#") 10
								li.pagination__elem
									a.pagination__link(href="#") ...
								li.pagination__elem
									a.pagination__link(href="#") 123
								li.pagination__elem
									a.pagination__next(href="#")
										svg(xmlns="http://www.w3.org/2000/svg" width="50.208" height="14.848" viewBox="0 0 50.208 14.848")
											path(class="pagination__svg" d="M16354.43,20765.141l5.858-5.863H16312v-1h48.295l-6.571-6.572.7-.7,7.072,7.066.709.709-7.072,7.072Z" transform="translate(-16312.003 -20751.002)")









		// Js

		include include/js
